<h5>Меню</h5>
<ul class="list-unstyled text-small">
    <li><a class="text-muted" href="{% url 'products:home' %}">Главная</a></li>
    {% if user.is_authenticated %}
        <form id="logout-form" action="{% url 'users:logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
        <li><a class="text-muted" href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Выйти</a></li>
    {% else %}
        <li><a class="text-muted" href="{% url 'users:login' %}">Войти</a></li>
        <li><a class="text-muted" href="{% url 'users:register' %}">Регистрация</a></li>
    {% endif %}
</ul>
